body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: firebrick; /* Azul oscuro */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('/Remotes/Img/fondo.png');
}

.login-container {
    width: 300px;
    padding: 40px 30px;
    background-color: white; /* Azul un poco más claro */
    border-radius: 10px;
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.5);
    color: darkblue; /* Letras blancas */
    text-align: center;
}

.login-container h2 {
    margin-bottom: 20px;
}

.login-container input[type="text"],
.login-container input[type="password"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    background-color: #f0f0f0; /* Azul oscuro */
    color: darkblue; /* Letras blancas */
}

.login-container input[type="submit"] {
    width: calc(100% - 20px);
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: firebrick; /* Naranja */
    color: white; /* Letras blancas */
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-container input[type="submit"]:hover {
    background-color: darkblue; /* Naranja más oscuro al pasar el ratón */
}
